
#myform {
    /*display: inline-block;*/
    width: 500px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

/*
div {
    display: inline-block;
    width: 150px;
    text-align: left;
    padding: 5px;
    font-weight: bold;
}
*/